@model IEnumerable<MakeableCMS.Models.AppOs>

@{
    ViewBag.Title = "Application OS";
}
<div class="header-create" style="width: 100%; height: 165px; background-color: #ffe4cc;">
    <div class="title" style="padding-top: 50px; padding-left: 20px;"><h2>Application Operating System List</h2></div>
</div>

<div style="padding-top: 40px;">
    
    <h6>Add each application OS which is supported by the Makeable App, and is used to find compatible apps for the user device.</h6>
    <br/>
    <p>
        @Html.ActionLink("Add Application OS", "Create", "", new { @class = "btn btn-primary" })
    </p>


    <table id="appOs" class="table table-hover table-bordered" style="width:100%">
        <thead class="table-dark">
            <tr>
                <th style="width: 50px;">@Html.DisplayNameFor(model => model.Id)</th>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th style="width: 180px" ;></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>

                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-secondary" })
                            <a data-appOs-id="@item.Id" class="btn btn-danger btn-secondary js-delete">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

    @section scripts
{
        <script>
            $(document).ready(function () {
                $("#appOs").dataTable();
                $("#appOs").on("click", ".js-delete",
                    function () {
                        var button = $(this);
                        bootbox.confirm("Are sure to delete record?",
                            function (result) {
                                if (result) {
                                    $.ajax({
                                        url: "Api/AppOs/" + button.attr("data-appOs-id"),
                                        method: "DELETE",
                                        success: function () {
                                            button.parents("tr").remove();
                                        }
                                    });
                                }
                            });

                    });
            });

        </script>
    }
